html, body, #root, .App {
    height: 100%;
}

.questionnaire {
    margin: 0px auto;
    max-width: 500px;
    text-align: center;
}

.answers {
    margin-top: 50px;
    justify-content: space-around;
}

.answer {
    margin-bottom: 20px;
    font-size: 50px;
    padding: 20px;
    color: white;
    background: black;
}